<div class="container" style="padding: 10px;align-self: center">
    <div class="jumbotron"
        style="background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBvcnRmb2xpb3xlbnwwfHwwfHw%3D&w=1000&q=80);margin-top: 30px; padding: 150px;image-resolution: inherit">

        
        <h2 style="color: rgb(59, 2, 29);text-align: center">Welcome to myPortFolio</h2>
        <p style="color: rgb(59, 2, 29);text-align: center">Easy way to create your amazing portfolio...</p>
    </div>
</div>

<div class="container text-center my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSla0pEP3-jp-5TLnJPzMPcoz5fPWu9MyHsEA&usqp=CAU.jpg" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>orporate Portfolio</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the
                first column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://1.bp.blogspot.com/-qe5ILcuEWbk/YKUsalr4xrI/AAAAAAAAAN8/gE5Qh371uhQapkicwhqPPijFWjki0dbAACLcBGAsYHQ/s1280/Responsive%2BPortfolio%2BWebsite-jpeg.jpg" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Private Portfolio</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second
                column.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://assets.materialup.com/uploads/33850010-59f8-4b21-b48c-74c4b47221e0/preview.jpg" width="140" height="140" style="border-radius: 50%;" alt="roundimg">
            <h2>Real Estate Portfolio</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>